body
{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}
/**Header**/
body .header
{
    margin: 0%;
    padding: 0%;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
}
/**nav**/
.nav
{
    margin: 1% 0% 3% 0%;
    padding: 0.5%;
    display: flex;
}
.nav .logo
{
    width: 20%;
    margin: 0%;
    padding: 0%;
    align-content: center;
    margin: 1%;
}
.nav .alojamientos
{
    width: 100%;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    display: flex;
    justify-content: end;
    justify-self: center;
}
.nav .experriencias
{
    width: auto;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    justify-self: center;
}
.nav .servicios
{
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: start;
    justify-self: center;
}
.nav .anfitrion
{
    display: flex;
    width: 70%;
    margin: 0%;
    padding: 0% 0%;
    display: flex;
    justify-content: start;
}
.nav .webicon
{
    width: auto;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}
.nav .menuicon
{
    width: auto;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: flex-start;
}
.nav li
{
    margin: 0%;
    padding: 0%;
    display: flex;
    list-style: none;
    align-items: center;
}
.nav p
{
    margin: 0% 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: auto;
    font-weight: 1000;
}
.nav .centro p
{
    margin: 0% 30%;
}
.airbnblogo
{
    margin: 0%;
    padding: 0% 0%;
    width: auto;
    height: 7vh;
    display: flex;
    align-self: center;
}
.webicon
{
    margin: 0%;
    padding: 0% 15%;
    align-self: center;
    width: 3vh;
    height: 3vh;
}
.menuicon
{
    margin: 0%;
    padding: 0% 15%;
    align-self: center;
    width: 3vh;
    height: 3vh;
}
/**search**/
.search
{
    width: 100vh;
    height: 10vh;
    margin: 0% 0% 3% 0%;
    padding: 0%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-self: center;
    border-radius: 10vh;
}
.search .search-box
{
    margin: 0% 8%;
    padding: 0% 0% 0% 0%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.search .iconsearch
{
    margin: 0% 0% 0% 19vh;
    padding: 0% 0% 0% 0%;
    justify-content: center;
    align-content: center;
    width: 7vh;
    height: 7vh;
    background-color: rgb(255, 56, 92);
    border-radius: 5vh;
    align-self: center;
    justify-self: end;
}
.search p
{
    margin: 0% 0% 0% 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vh;
    font-weight: 1000;
}
/**content**/
body .content
{
    margin: 0%;
    padding: 2% 0%;
    width: auto;
    display: flex;
    flex-direction: column;
}
.options
{
    margin: 0%;
    padding: 1%;
    width: auto;
    display: flex;
    align-self: center;
}
.options .option-box
{
    margin: 1%;
    padding: 0% 0%;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.option-box .image-box
{
    border-radius: 2vh;
}
.image-box .rooms
{
    width: 100%;
    height: 30vh;   
    border-radius: 2vh;
}
.text-box
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.text-box p
{
    margin: 0;
    padding: 0;
}
.text-box .info
{
    color: gray;
}
.option-box p
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: auto;
    font-weight: 1000;
}
.option-box h1,h2,h3,h4
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: auto;
    font-weight: 1000;
}
h3
{
    display: flex;
}
.masicon
{
    margin: 0.2vh 0vh 0vh 0vh;
    width: 4vh;
    height: 4vh;
}
/**footer**/
body .footer
{
    margin: 0%;
    padding: 2% 0% 0% 0%;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
}
.footer h1,h2,h3,h4
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: auto;
    font-weight: 1000;
}
.options2
{
    margin: 0% 0% 0% 2%;
    padding: 0%;
    width: auto;
    display: flex;
    align-self: center;
}
.options2 .option2-box
{
    width: 10%;
    margin: 0% 0%;
    padding: 0% 0%;
    display: flex;
    list-style: none;
    justify-content: flex-start;
}
.option2-box p
{
    margin-left: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: auto;
    font-weight: 1000;
}
h3, h2
{
    margin-left: 1%;
}

.options3
{
    margin: 0%;
    padding: 0%;
    width: auto;
    display: flex;
    align-self: center;
}
.options3 .option3-box
{
    width: auto;
    padding: 0% 0%;
    display: flex;
    list-style: none;
    justify-content: flex-start;
}
.option3-box p
{
    margin: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: auto;
    font-weight: 1000;
}
.lugares
{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}
.lugares .lpartes
{
    display: flex;
    list-style: none;
}
.lpartes li
{
    margin: 0% 6% 0% 2%;
}
hr
{
    color: black;
    width: 95%;
}
.lpartes .info
{
    color: gray;
}
.lpartes p
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: auto;
    font-weight: 1000;
}
.masicon2
{
    transform: rotate(90deg);
    align-self: center;
}
.footer-part2
{
    margin: 0%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.footer-part2 .datos
{
    margin: 2%;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.datos li p
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: auto;
    font-weight: 1000;
    color: gray;
}
.footer .footer-part3
{
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-around;
}
.footer-part3 .contact
{
    display: flex;
    list-style: none;
}
.contact li
{
    margin: 2%;
}
.contact li p
{
    margin: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: auto;
    font-weight: 1000;
}
.faceb
{
    width: 5vh;
    height: 5vh;
}

