.header
{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: blue;
}
.nav
{
    list-style: none;
}
.content
{
    display: flex;
    background-color: red;
}
.footer
{
    display: flex;
    background-color: green;
}