*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body
{
    padding: 5px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header
{
    width: 100%;
    height: 100px;
    display: flex;
}

header .titulo
{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.5em;
    color: #ff5a5f;
}

header .navegacion-principal
{
    width: 40%;
    height: 100%;
    padding: 0 10px;
    background-color: cornflowerblue;
}

header .login
{
    width: 30%;
    height: 100%;
    background-color: gold;
}


header .navegacion-principal ul
{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
