*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body
{
    padding: 5px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/**header**/
header
{
    width: 100%;
    height: 80px;
    padding: 0px 20px;
    display: flex;
    background-color: rgb(240, 240, 240);
}

header .titulo
{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.5em;
    color: #ff5a5f;
}

header .navegacion-principal
{
    width: 40%;
    height: 100%;
    padding: 0 20px;
}

header .login
{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


header .navegacion-principal ul
{
    height: 100%;
    padding: 0px 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .navegacion-principal ul li
{
    display: flex;
    padding-bottom: 7px;
    align-items: center;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.2s ease;
}

header .navegacion-principal ul li:hover
{
    transition: all 0.2s ease;
    font-weight: bold;
    border-bottom: 2px solid black;
}

header .navegacion-principal .nav-icon
{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0px 8px;
}

.navegacion-principal .alojamiento-img
{
    background-image: url(./images/icons/NoAirBNBLogoCasa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navegacion-principal .experiencias-img
{
    background-image: url(./images/icons/NoAirBNBLogoGlobo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navegacion-principal .servicios-img
{
    background-image: url(./images/icons/NoAirBNBLogoRing.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header .login-icon
{
    display: inline-block;
    width: 20px;
    height: 20px;
}

header .login .login-bg-icon
{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: rgb(229, 229, 229);
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
}

header .login .login-bg-icon:hover
{
    width: 45px;
    height: 45px;
}

header .login .globo-img
{
    background-image: url(./images/icons/web.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header .login .menu-img
{
    background-image: url(./images/icons/menuicon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header .login a
{
    display: inline-block;
    width: 180px;
    height: 30px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    transition: all 0.4s ease;
}

header .login a:hover
{
    background-color: rgb(229, 229, 229);
    transition: all 0.4s ease;
}
/**Buscador**/

.buscador
{
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.buscador .buscador-container
{
    width: 50%;
    height: 65px;
    padding: 5px 10px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.buscador .buscador-input
{
    width: 20%;
    height: 90%;
    border-radius: 20px;
    padding: 0px 20px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buscador .buscador-button
{
    width: 45px;
    height: 45px;
    background-color: red;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: url(./images/icons/search.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
}
.buscador .buscador-input p
{
    font-size: 0.7em;
    font-weight: bold;
}
.buscador .buscador-input input
{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 0.7em;
    color: gray;
}

.buscador .buscador-middle::after
{
    content: "";
    width: 1.5px;
    height: 30px;
    background-color: rgb(229, 229, 229);
    position: absolute;
    left: 57%;
}

.buscador .buscador-middle::before
{
    content: "";
    width: 1.5px;
    height: 30px;
    background-color: rgb(229, 229, 229);
    position: absolute;
    left: 39%;
}

/**Contenido**/

.resultados
{
    width: 100%;
    height: auto;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultados .resultados-seccion
{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultados  .resultados-seccion h2
{
    height: 30px;
    padding-top: 10px;
    font-size: 1em;
    align-self: flex-start;
    justify-content: center;
}


.resultados .resultados-lista
{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.resultados .resultados-lista .resultado
{
    width: 200px;
    height: 260px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.resultados .resultados-lista .resultado .sitio-thumbnail
{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-image: url(./images/fotos/Casa01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.resultados .resultados-lista .resultado .sitio-mensaje
{
    width: 120px;
    height: 40px;
    padding-left: 8px;
    position: relative;
    background-color: rgb(242, 242, 242);
    left: 10px;
    top: 10px;
    border-radius: 15px;
    font-size: 0.8em;
    font-weight: bold;
}

.resultados .resultados-lista .resultado .sitio-descripcion
{
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultados .resultados-lista .resultado .sitio-descripcion h4
{
    font-size: 0.8em;
    font-weight: bold;
}

.resultados .resultados-lista .resultado .sitio-descripcion .sitio-fechas
{
    font-size: 0.7em;
    color: gray;
}

.resultados .resultados-lista .resultado .sitio-descripcion .sitio-precio
{
    font-size: 0.7em;
    color: gray;
}